DATABASE_URL="FILL_ME"

AUTH_SECRET="FILL_ME"

AUTH_URL="FILL_ME"

GOOGLE_CLIENT_ID="FILL_ME"
GOOGLE_CLIENT_SECRET="FILL_ME"

GITHUB_CLIENT_ID="FILL_ME"
GITHUB_CLIENT_SECRET="FILL_ME"

ADMIN_EMAIL_ADDRESSES="FILL_ME1,FILL_ME2"

NODEMAILER_GMAIL_SMTP_USERNAME="FILL_ME"
NODEMAILER_GOOGLE_CLIENT_ID="FILL_ME"
NODEMAILER_GOOGLE_CLIENT_SECRET="FILL_ME"